
</head>
<body>

    <% include header.ejs %>
  <div id="viewscreen" >

      <% include sidebar.ejs %>
      <% include commonprofile.ejs %>
  </div>

</body>
<script type="text/javascript" src="header.js"></script>
<script type="text/javascript" src="sidebar.js"></script>
